.construction {
    background-color: red;
}

.navbar {
    margin-bottom: 0px;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }